{{define "protobox"}}{{- /*gotype: github.com/notjustmoney/protobox/internal/proto/generator/source.ProtoboxParams*/ -}}
{{template "protobox_header" .}}
{{template "protobox_dispatcher" .}}
{{template "protobox_events" .}}
{{ end }}